* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Segoe UI';
}
header {
  background-color: #ff914d;
  position:fixed ;
  height: 12vh;
  width: 100vw;
  display: flex;
    justify-content: space-around;
  align-items: center;
}


/*cor do botao no menu*/
.navbar {
overflow: hidden;
background-color: #ff914d;

}

.navbar a {
float: left;
font-size: 150%;

font-style:solid;
color: white;
text-align: center;
padding: 14px 16px;

}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 150%;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color:#ffbd59;

}

.dropdown-content {
display: none;
position: absolute;
background-color: #ff914d;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ffbd59;
}

.dropdown:hover .dropdown-content {
display: block;
}
.app-bar{
height: 12vh;
padding-left:20px;
padding-right: 20px;
}


main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;


}
/*esse campo foi adicionado para retirar a barra de rolagens horizontal 
o sistema verifica se a necessidade dela aparecer.*/
html {
  overflow-y: scroll;
  overflow-x:  scroll;
  overflow-x: overlay;
  overflow-y: overlay;
  
}
/*=====================================================*/
.imagem05 {
  background-image: url('../img/imagem05.jpg');
   background-color: #ff914d; 
   background-size:100%;
   background-position: top center; 
   width: 100vw;
   height: 100vh;

}


.imagem01>.texto5 {
  position:static ;
  margin-top: 10%;
  margin-left: 50%;
  color: whitesmoke;
  text-align: center;
  width: 650px;
  line-height: 130%;
  height: 30%;
  font-size: 200%;

}

/*=====================================================*/
/*seção de configuração do footer*/
.footer {
  background-color: #2f333d;
  height: 30vh;
  width: 100vw;
  display: flex;
  font-size:large;  
  justify-content: space-evenly;
}
.menu-footer,.serviços{
display: flex;
align-items: center;
justify-content: center;
margin-left: 1%;
}
/*retirar pontos da lista nao ordenada*/
li{
list-style-type: none;
}
ul>h3{
color:#ff914d;
}
.icones>p {
font-size: 120%;
  color: white;
  align-items: center;
  text-align: center;
  margin: 10%;   
}
.icones>a{
margin-bottom: 1vh;
margin-left: 1vh;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
color: white;
  text-decoration: none;
}
a:active {
  color: #ff914d;
  text-decoration: none;
}
